/* descktop */
@media (min-width:1440px) {
    .container {
        max-width: 100%;
        padding: 0 165px;
    }

}

@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 165px;
    }
}

@media (max-width: 1320px) {
    .container {
        max-width: 1320px;
        padding: 0 160px;
    }

    .working-with {
        right: -200px;
    }
}

@media (max-width: 1290px) {
    .container {
        max-width: 1290px;
        padding: 0 145px;
    }

    .btn {
        font-size: 15px;
    }

    .hero-search {
        padding: 40px;
    }

    .search-input {
        width: 700px;
        font-size: 15px;
        padding: 15px 20px;

    }

    .get_started__title {
        max-width: 455px;
        font-size: 65px;
    }

    .get_started__text {
        max-width: 455px;
        font-size: 18px;
    }
}

@media (max-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0 100px;
    }

    .search-input {
        max-width: unset;
        width: 48%;
    }
    .hero-search {
        padding: 35px;
    }
    .search-input {
        width: 650px;
    }
}

@media (max-width: 1140px) {
    .container {
        max-width: 1170px;
        padding: 0 80px;
    }

    .working-with {
        right: -250px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1170px;
        padding: 0 70px;
    }

    .btn {
        font-size: 16px;
    }

    .hero-search {
        top: -60px;
        padding: 30px;
        border-radius: 20px;
    }

    .get_started__title {
        max-width: 460px;
        font-size: 65px;
    }

    .get_started__text {
        max-width: 460px;
        line-height: 30px;
    }

    .search-input {
        width: 600px;
    }
}

/* Tab */
@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .get_started__title {
        max-width: 310px;
        font-size: 45px;
    }
    .get_started__text {
        max-width: 310px;
        font-size: 12px;
        line-height: 20px;
    }

    .search-input {
        font-size: 10px;
        width: 520px;
    }

    .working-with {
        right: -270px;
        top: 40px;
    }

    .hero-search {
        z-index: 1;
    }

    .search-btn {
        padding: 10px;
    }
    .btn {
        font-size: 12px;
        padding: 15px 20px;
    }
    .card-icon {
        width: 70px;
        height: 70px;
    }
    .card-title{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .card-text {
        max-width: 150px;
        font-size: 10px;
    }
    .story-title {
        font-size: 12px;
    }
    .story-link {
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .working-with_img{
        width: 630px;
        height: 310px;
    }
}

/* Mobile */
@media (max-width: 768px) {}

@media (max-width: 684px) {}

/* mobile < 576 */
@media (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        padding: 0 15xp;
    }
}

@media (max-width: 480px) {}

@media (max-width: 412px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}